<%- include('header') %>
<main>
  <section class="pagecontainer">
    <div class="memberheading">
      <h2><%=name%></h2>
      <p><%=date%></p>
    </div>
    <div class="memberinfo">
      <p><b>Telefonnummer:</b> <%= number %></p>
      <p><b>E-mail:</b> <%= email %></p>
      <p><b> Övrig info:</b></p>
      <p><%= description %></p>
    </div>
    <div class="memberBtnContainer">
      <a class="memberBtn fakeBtn" href="/editmember/<%=_id%>">Ändra</a>
      <form method="post" action="/delete/<%=_id%>">
        <button class="memberBtn">Delete</button>
      </form>
    </div>
  </section>
</main>
<%- include('footer') %>
